* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  background-color: #c4c4c4;
  width: 100%;
  padding: 1rem;
}

nav {
  background-color: #3b383c;
  position: sticky;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 1rem;
}

nav ul li {
  display: flex;
}
nav ul li a {
  padding: 0.5rem 0.75rem;
  color: rgb(176, 183, 187);
  text-decoration: none;
  transition: all 0.25s ease-in;
  font-size: 1.25rem;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

.header {
  font-size: 2.5rem;
}
.headertext {
  font-size: 1.5rem;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section.left,
section.right {
  padding: 1.75rem;
}

section.left {
  flex: 4 1 550px;
}

section.right h4 {
  font-size: 1.25rem;
  text-align: center;
}

section.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 250px;
}

section.right p {
  margin: 1rem 0rem;
}

section.right iframe {
  border-radius: 30px;
}

.active {
  color: white;
}

section.container {
  display: flex;
  font-size: 1.25rem;
}

section.left h2 {
  border-bottom: 1px solid black;
}

.math {
  color: red;
  text-align: center;
}

section.left ol {
  padding-left: 1rem;
}

div.center {
  display: flex;
  padding: 1.75rem;
}

.word {
  padding: 1.5rem;
}

.banboozled {
  color: red;
  text-align: center;
  font-size: 5rem;
  transition: all 0.25s ease-in;
  transform: translate(200px);
  position: relative;
  animation-name: cross;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes cross {
  from {
    left: -100px;
  }
  to {
    left: 100px;
  }
}

#curve_chart {
  width: 100%;
  height: 80%;
}

@media screen and (max-width: 550px) {
  #curve_chart {
    width: 100%;
    height: 40%;
  }
}

@media screen and (max-width: 650px) {
  nav ul {
    flex-direction: column;
  }
}
